body {
  background-color: #7449c0;
  color: black;
}
h1 {
  background-color: #f5cbcb;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid black;
}
h2 {
  background-color: #ffae6e;
  text-align: center;
  padding: 10px;
  border: 3px solid black;
  border-radius: 8px;
  margin-left: 100px;
  margin-right: 100px;
}
.h3 {
  background-color: #ff6d1f;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  display: inline-block;
}
img {
  display: block;
  margin: 15px auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  max-width: 700px;
  max-width: 100%;
  height: auto;
}
h3 {
  background-color: rgb(242, 234, 224);
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
}
#footer {
  background-color: rgb(154, 134, 120);
  padding-bottom: 15px;
  border: 2px solid black;
  border-radius: 8px;
}
