body {
  background-color: #222831;
  color: white;
  padding: 10px;
}
h1 {
  background-color: #00adb5;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  text-align: center;
  font-family: "Castoro", serif;
  text-transform: uppercase;
}
.h2 {
  background-color: #ff9494;
  padding: 10px;
  margin: 2px solid white;
  display: block;
  border-radius: 8px;
  font-family: "Marcellus SC", serif;
  text-align: center;
}
p {
  font-family: "Marcellus SC", serif;
}
img {
  height: auto;
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 20px auto;
  border: 5px solid white;
}
