body {
  background-color: #222831;
  color: white;
  padding: 10px;
  font-size: large;
}
h1 {
  background-color: #00adb5;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  text-align: center;
  font-family: "Castoro", serif;
  text-transform: uppercase;
}
.h2 {
  background-color: #ff9494;
  padding: 10px;
  margin: 2px solid white;
  display: block;
  border-radius: 8px;
  font-family: "Marcellus SC", serif;
  text-align: center;
}
p {
  font-family: "Marcellus SC", serif;
}
img {
  height: auto;
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 20px auto;
  border: 5px solid white;
}
@media (min-width: 319px) and (max-width: 480px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

@media (min-width: 1601px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}
