body {
  background-color: black;
  color: white;
  padding: 15px;
}
h1 {
  text-align: center;
  background-color: #ec8f8d;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid white;
  font-family: "Montenegrin Gothic One", serif;
}
h2 {
  background-color: #95ccdd;
  display: inline-block;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
}
